*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

  
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
     margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color:#FFBEA4;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;  
}

.detel h1{
    font-size:50px;
    color: #212121;
    margin-bottom:20px;
}

span{
    color: #FFBEA4;   
}

.detel p{
    color: #555;
    line-height: 22px;
}

.logo{
    float: left;
    height: 100px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px

}

.images img{
    height: 100%;
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .me{
    left: 45%;
}


.images .shape{ 
    height: 600px}

.about{
    margin-top: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
}

.content-container {
    padding-left: 50px;
    padding-top:50px;
}

.content-container > p {
    font-size: 32px;
}

.profile img{
    height: 30%;
    position: absolute;
    left: 70%;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-top: 40ox;
}

.portofolio{
    margin-top: 20px;
    text-align: center;
}

.project img{
    height: 300px;
    margin-left: 50px;
    margin-top:50px;
    border-radius: 10%;
}

.content2{
    padding-left: 300px;
    padding-top: 50px;
}

.content3{
    padding-left: 950px;
}

.contact{
    margin-top: 20px;
    text-align: center;
}

.gambar img{
    margin-left: 200px;
    margin-top: 50px;
}

.content4{
    padding-left: 200px;
    padding-top: 30px;
    font-size: 15px;
}

@media screen and (max-width: 360px) {
    .profile img{
        height: 15%;
        position: absolute;
        left: 75%;
        margin-bottom: 20px;
        border-radius: 50%;
        margin-top: 60px;
    }

    .content-container > p {
        font-size: 7px;
    }

    .project img{
        height: 60px;
        margin-left: 50px;
        margin-top:50px;
        border-radius: 10%;
    }

    .content2{
        padding-left: 70px;
        padding-top: 40px;
        font-size: 10px;
    }

    .content3{
        padding-left: 250px;
        font-size: 10px;
        padding-top: 5px;
    }

    .portofolio{
        margin-top: 20px;
        text-align: center;
        font-size: 10px;
    }

    .gambar img{
        margin-left: 60px;
        margin-top: 50px;
        height: 15%;
    }

    .content4{
        padding-left: 40px;
        padding-top: 20px;
        font-size: 7px;
    }

    .contact{
        margin-top: 20px;
        text-align: center;
        font-size: 7px;
    }

    .about{
        margin-top: 20px;
        text-align: center;
        font-size: 5px;
    }

    .logo{
        float: left;
        height: 50px;
    }

    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 5px;
    }

    .detel h1{
        font-size:20px;
        color: #212121;
        margin-bottom:20px;
    }

    .detel p{
        color: #555;
        line-height: 10px;
        font-size: 10px;
    }

    .images img{
        height: 20%;
        position: absolute;
        left: 20%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
       
    }
}

@media (min-width:361px) and (max-width:720px){
    .topnav a {
        float: none;
        width: 100%;
      }
}